<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Shows Reviews</a>
    <ul>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/actors/new">Add Actor</a></li>
      <li><a href="/shows">Shows</a></li>
      <li><a href="/shows/new">Add Show</a></li>
    </ul>
  </nav>
</header>