<header>
  <nav class="header-nav">
    <a class="header-title" href="/">TvShowsReview</a>
    <ul>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/actors/new">Add Actor</a></li>
      <li><a href="/tvshows">Tv shows</a></li>
      <li><a href="/tvshows/new">Add Tv shows</a></li>
    </ul>
  </nav>
</header>