<h2 class="page-header">Recently Added</h2>
<div>
  <% tvshows.forEach(tvshow => { %>
    <a href="/tvshows/<%= tvshow.id %>">
      <img height="150" width="100" src="<%= tvshow.coverImagePath %>">
    </a>
  <% }) %>
</div>