<h2 class="page-header">New Tv show</h2>
<form action="/tvshows" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row btn-row form-row-end">
    <a class="btn btn-danger" href="/tvshows">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>    
  </div>
</form>