<div class="form-row">
  <div class="form-item actor-name">
    <label>Name</label>
    <input type="text" name="name" value="<%= actor.name %>">
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= actor.description %></textarea>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Actor Image</label>
    <input type="file" name="cover" class="tvshow-cover filepond">
  </div>
</div> 